<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="provider" value="System.Data.sqlClient" />

    <add key="connectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=IndividualProj1;Integrated Security=True;Pooling=False"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>